<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <link href="%braingym.storeurl%mailer/stylesheet.css" rel="stylesheet" />
    <style>
        .btn:hover a {
            border-color: #fff !important;
            background: #fff !important;
            color: #F04242 !important;
        }

        .btn-border:hover a {
            border-color: #F04242 !important;
            background: #F04242 !important;
            color: #fff !important;
        }
    </style>
    <!--[if !mso]> -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet" />
    <!--<![endif]-->
</head>

<body style="margin:0;">
    <div style="width:100%;padding:0;Margin:0;line-height:150%">
        <table width="100%" cellspacing="0" cellpadding="30"
            style="border-collapse: collapse; border-spacing: 0px; padding: 0; Margin: 0; line-height: 150%; width: 100%; height: 100%; background-repeat: repeat; background-position: center top;">
            <tbody style="line-height:150%">
                <tr style="line-height:150%">
                    <td style="padding:50px;Margin:0;line-height:150%;padding-left:15px;padding-right:15px"
                        valign="top">
                        <table class="m_-8516155899360345169es-header" cellspacing="0" cellpadding="0" align="center"
                            style="border-collapse:collapse;border-spacing:0px;width:100%;line-height:150%;background-color:transparent;background-repeat:repeat;background-position:center top">
                            <tbody style="line-height:150%">
                                <tr style="line-height:150%">
                                    <td align="center" style="padding:0;Margin:0;line-height:150%">
                                        <table class="m_-8516155899360345169es-header-body" cellspacing="0"
                                            cellpadding="0" bgcolor="#ffd6d6"
                                            style="border-collapse:collapse;border-spacing:0px;line-height:150%;background-color:#ffd6d6;border-radius:20px;width:600px"
                                            align="center">
                                            <tbody style="line-height:150%">
                                                <tr style="line-height:150%">
                                                    <td align="left" style="padding:0;Margin:0;line-height:150%">
                                                        <table cellspacing="0" cellpadding="0" width="100%"
                                                            style="border-collapse:collapse;border-spacing:0px;line-height:150%">
                                                            <tbody style="line-height:150%">
                                                                <tr style="line-height:150%">
                                                                    <td align="left"
                                                                        style="padding:0;Margin:0;line-height:150%;width:600px">
                                                                        <table width="100%"
                                                                            style="border-collapse:collapse;border-spacing:0px;line-height:150%;background-color:#fff;border-radius:15px 15px 0px 0px"
                                                                            cellspacing="0" cellpadding="0">
                                                                            <tbody style="line-height:150%">
                                                                                <tr style="line-height:150%">
                                                                                    <td align="center"
                                                                                        style="padding:30px;Margin:0;line-height:0px;font-size:0px">
                                                                                        <img class="m_-8516155899360345169adapt-img CToWUd"
                                                                                            src="{{logoURL}}"
                                                                                            alt="P-Value Logo"
                                                                                            style="display:block;border:0;outline:none;text-decoration:none;line-height:150%;max-width:200px"
                                                                                            width="200" />
                                                                                        <p
                                                                                            style="padding:0 300px;opacity: 0;line-height: 1px !important;">
                                                                                        </p>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr style="line-height:150%">
                                                    <td align="left" bgcolor="#ffffff"
                                                        style="Margin:0;line-height:150%">
                                                        <table cellpadding="0" bgcolor="#ffffff" cellspacing="0"
                                                            width="100%"
                                                            style="border-collapse:collapse;border-spacing:0px;line-height:150%;padding:30px;">
                                                            <tbody style="line-height:150%">
                                                                <tr style="line-height:150%">
                                                                    <td align="center" valign="top"
                                                                        style="padding:0;Margin:0;line-height:150%;width:540px">
                                                                        <table cellpadding="0" cellspacing="0"
                                                                            width="100%"
                                                                            style="border-collapse: collapse; border-spacing: 0px; line-height: 150%; background-color: #ffffff">
                                                                            <tbody style="line-height:150%">
                                                                                <tr style="line-height:150%">
                                                                                    <td align="center"
                                                                                        style="padding:0;Margin:0;line-height:150%"
                                                                                        class="esd-text">
                                                                                        <h3
                                                                                            style="margin: 0px; line-height: 30px; font-family: lato, 'helvetica neue', helvetica, arial, sans-serif; color: #333333; font-size: 30px; font-style: normal; font-weight: normal; padding-top:20px;">
                                                                                            <strong
                                                                                                style="line-height:150%;font-weight:700">
                                                                                                Hi,
                                                                                                {{fullName}}
                                                                                            </strong>
                                                                                        </h3>
                                                                                        <br />

                                                                                        <p
                                                                                            style="margin: 0px 0px 8px; padding: 0px 40px; font-family: lato, 'helvetica neue', helvetica, arial, sans-serif; line-height: 27px; color: #474a61; font-size: 18px;">
                                                                                            We've received a request to
                                                                                            reset the password for your
                                                                                            account. Please use the
                                                                                            verification code below to
                                                                                            proceed:
                                                                                        </p>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr style="line-height:150%">
                                                                                    <td align="center"
                                                                                        style="padding:0;Margin:0;line-height:150%"
                                                                                        class="esd-text">
                                                                                        <div
                                                                                            style="background-color: #F04242; color: white; font-size: 42px; font-weight: 800; padding: 25px 35px; border-radius: 12px; letter-spacing: 12px; margin: 30px auto; display: inline-block; box-shadow: 0 8px 25px rgba(240, 66, 66, 0.3);">
                                                                                            {{otp}}
                                                                                        </div>
                                                                                        <p
                                                                                            style="margin: 15px 0px 25px; padding: 0px 40px; font-family: lato, 'helvetica neue', helvetica, arial, sans-serif; line-height: 24px; color: #474a61; font-size: 16px;">
                                                                                            ⏰ This code expires in
                                                                                            <strong>10
                                                                                                minutes</strong><br />
                                                                                            🔒 Keep this code private
                                                                                            and secure<br />
                                                                                            💻 Enter this code to reset
                                                                                            your password
                                                                                        </p>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr style="line-height:150%">
                                                                                    <td align="center"
                                                                                        style="padding:0;Margin:0;line-height:150%"
                                                                                        class="esd-text">
                                                                                        <p
                                                                                            style="padding-top: 32px;margin: 0px 0px 8px; font-family: lato, 'helvetica neue', helvetica, arial, sans-serif; line-height: 20px; color: #474a61; font-size: 16px;">
                                                                                            This email is
                                                                                            auto generated. Kindly do
                                                                                            not reply to this email.
                                                                                        </p>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr style="line-height:150%">
                                                                                    <td align="center"
                                                                                        style="padding:0;Margin:0;line-height:150%"
                                                                                        class="esd-text">
                                                                                        <p
                                                                                            style="padding-top: 50px;margin: 0px 0px 8px; font-family: lato, 'helvetica neue', helvetica, arial, sans-serif; line-height: 16px; color: #474a61; font-size: 14px;">
                                                                                            Regards,
                                                                                        </p>
                                                                                        <p
                                                                                            style="padding-top: 0px;margin: 0px 0px 8px; font-family: lato, 'helvetica neue', helvetica, arial, sans-serif; line-height: 16px; color: #474a61; font-size: 14px;">
                                                                                            Team P-Value
                                                                                        </p>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr style="line-height:150%">
                                                    <td align="left"
                                                        style="padding:30px;Margin:0;line-height:150%;border-radius:0px 0px 15px 15px; background: #ffffff;">
                                                        <table cellpadding="0" cellspacing="0" width="100%"
                                                            style="border-collapse:collapse;border-spacing:0px;line-height:150%">
                                                            <tbody style="line-height:150%">
                                                                <tr style="line-height:150%">
                                                                    <td align="center" valign="top"
                                                                        style="padding:0;Margin:0;line-height:150%;width:540px">
                                                                        <table cellpadding="0" cellspacing="0"
                                                                            width="100%"
                                                                            style="border-collapse:collapse;border-spacing:0px;line-height:150%">
                                                                            <tbody style="line-height:150%">
                                                                                <tr style="line-height:150%">
                                                                                    <td align="center"
                                                                                        style="padding:0;Margin:0;line-height:150%"
                                                                                        class="esd-text">
                                                                                        <p
                                                                                            style="margin: 0px; font-family: lato, 'helvetica neue', helvetica, arial, sans-serif; line-height: 27px; color: rgba(71, 74, 97, 1); font-size: 14px;">
                                                                                            © {{currentYear}} P-Value
                                                                                            <strong>
                                                                                                All rights
                                                                                                reserved
                                                                                            </strong>
                                                                                        </p>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="adL"></div>
    </div>
</body>

</html>